{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Edit your account' %}{% endblock title %}

{% block content %}
<div class="container-xl px-4 mt-4">

    {% if messages %}
        {% for message in messages %}
            <div class="{% if message.tags == 'success' %}alert alert-success{% else %}alert alert-danger{% endif %}">
                    {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <form method='post' enctype="multipart/form-data">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">{% trans 'Profile Picture' %}</div>
                <div class="card-body text-center">
                    {% if profile.photo %}
                        <img class="img-account-profile rounded-circle mb-2"
                            src="{{ profile.photo.url }}">
                    {% else %}
                        <img class="img-account-profile rounded-circle mb-2"
                        src="{% static 'images/avatar1.png' %}">
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_photo" class="custom-file-upload">
                            {{ profile_form.photo }} {% trans 'Upload new image' %}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">

            <div class="card mb-4">
                <div class="card-header">{% trans 'Account Details' %}</div>
                <div class="card-body">
                
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ user_form.username }}
                        </div>
                        
                        <div class="row gx-3 mb-3">

                            <div class="col-md-6">
                                {{ user_form.first_name }}
                            </div>

                            <div class="col-md-6">
                                {{ user_form.last_name }}
                            </div>
                        </div>
                        
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                {{ user_form.email }}
                            </div>

                            <div class="col-md-6">
                                {{ profile_form.date_of_birth }}
                            </div>
                            
                            <div class="col-md-6">
                                {% trans 'Back Image:' %}
                                {{ profile_form.back_photo }}
                            </div>

                            <div class="col-md-6 ">
                                {% trans 'Detail Image:' %}
                                {{ profile_form.detail_photo }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col mb-3">
                                <div class="form-group">
                                    {{ profile_form.media }}
                                    {{ profile_form.bio }}
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">{% trans 'Save changes' %}</button>
                
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}
